HELP.md
PLAN.txt
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### React ###

# certificates
*.pem
*.p12
*.jpg

# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
web/package-lock.json
