.login-bg {
    background-image : url("../images/lake-mountains.jpg");
    position: relative;
    height : 941px;
    width: 1920px;
    background-size : cover; 
}

.box-form {
    background-color: transparent;
    border-radius: 25px;
    padding: 12px 28px;
    width: 320px;
    height: 260px;
    position: absolute;
    left: 40%;
    top : 20%;
    /* border: 5px solid rgb(212, 18, 51); */
}

.login-icon {
    content: url("../images/login_icon_cropped.png");
    top: 16px;
    width: 42px;
    height: 42px;
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
}

.password-icon {
    content: url("../images/password_icon.png");
    top: 20px;
    width: 48px;
    height: 48px;
    position: relative;
}

.login-h2 {
    position: relative;
    top: 0px;
    left: 10px;
    font-size: x-large;
    color: blue;
}

.login-input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    color: white;
    opacity: 0.8;
    box-sizing: border-box;
    position: relative;
    left: 10px;
    top: 0px;
    bottom : 0px;
}

.login-btn {
    width: 170px;
    height: 60px;
    position: relative;
    border-radius: 14px;
    background-color: black;
    opacity: 0.7;
    border: 2px solid black;
    font-size: large;
    color: rgb(248, 248, 248);
}

.login-btn:hover{
    opacity: 0.6;
    cursor: pointer;
}

.login-btn:active{
    opacity: 0.3;
}

.btn1 {
    left: 75px;
    top : 30px;
}

.btn2 {
    position: absolute;
    background-color:blue;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    width: 500px;
    top : 50%;
    left: 37%
}
