.login-bg {
    background-image : url("./images/login.jpg");
    position:absolute;
    height : 939px;
    width: 1879px;
    background-size : cover; 
}

.box-form {
    background-color: rgb(126, 126, 139);
    padding: 12px 28px;
    width: 480px;
    height: 400px;
    position: relative;
    left: 667px;
    top : 162px;
    border: 5px solid black;
}

.login-h2 {
    position: relative;
    top: 5px;
    left: 60px;
    font-size: x-large;
    color: rgb(241, 237, 237);
}

.login-input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    left: 200px;
    bottom : 58px;
}

.login-btn {
    width: 170px;
    height: 60px;
    background-color: rgb(126, 126, 139);
    border: 2px solid black;
    font-size: large;
    color: rgb(248, 248, 248);
}

.login-btn:hover{
    background-color: #c3c0ca;
    color: rgb(8, 7, 7);
    cursor: pointer;
}

.btn1 {
    position: absolute;
    right: 200px;
    top : 270px;
}

.btn2 {
    position: absolute;
    right: 872px;
    top : 520px;
}
