.messages-bg {
    background-image : url("./images/home_background.jpg");
    height : 938px;
    width: 1864px;
    background-size : cover; 
}

.message-history-box {
    background-color: burlywood;
    width: 1810px;
    height: 880px;
    position: relative;
    left : 25px;
    bottom : 35px;
    border: 3px solid rgb(8, 7, 7);
}

.message {
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.new-message-input {
    font-size: 20px;
    border: 2px solid black;
    position: absolute;
    top : 840px;
    height: 34px;
    width: 1600px;
}

.new-message-button {
    font-size: 20px;
    background-color: white;
    border: 2px solid black;
    height: 40px;
    width: 198px;
    position: absolute;
    top : 840px;
    left : 1610px;
}

.page-header-mes {
    font-size: 30px;
    position: relative;
    text-align: center;
    background-color: aliceblue;
    width: 320px;
    border: 2px solid black;
    position: relative;
    left : 272px;
    top : 5px;
}

.mes-next {
    position: relative;
    left : 597px;
    bottom : 38px;
}

.mes-prev {
    position: relative;
    left : 599px;
    bottom : 38px;
}

.back-todetails {
    position: absolute;
    top : 6px;
    left : 25px;
}

.new-message-button:hover {
    background-color: rgb(168, 154, 154);
    cursor: pointer;
}